/* LEERDOELEN */

#leerdoelen-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.leerdoelen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  position: relative;
  padding-top: 7em;

  & > a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1em 3em;
    width: fit-content;
    border-radius: 3em;
    border: 2px black solid;
    transition: 0.2s;
    margin-bottom: 1em;
  }

  & > a:hover {
    background-color: transparent;
    color: black;
    border: 2px black solid;
  }

  & h1 {
    padding-bottom: 1em;
    font-size: 3em;
    left: 0;
    top: 0;
  }
}

.leerdoelen ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.leerdoelen ol li {
  padding-bottom: 20px;
  font-family: "indivisible", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;

  font-size: 1.1em;

  flex: 1 1 400px;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

h2 {
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  /* padding-top: 30px;
        padding-left: 12px; */

  margin-bottom: 1em;
}

h2 + p {
  margin-bottom: 1em;
}

h3 {
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.85em;
  margin-top: 1em;
}

h3 + p {
  margin-bottom: 1em;
  font-family: "indivisible", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.85em;
}
